body {
	margin: 0;
}
h1 {
	font-family: 'Lato','sans-serif';
	font-weight: 300;
	font-size: 48px;
}
.header {
	position: relative;
	text-align: center;
	background: linear-gradient(60deg,rgba(84,58,183,1) 0%,rgba(0,172,183,1) 100%);
	color: wheat;
}
.waves {
	position: relative;
	width: 100%;
	height: 15vh;
	margin-bottom: -7px;
	min-height: 100px;
	max-height: 150px;
}

/* 使用 parallax 使每个波浪层的动画时间和延迟不同 */
.parallax > use {
    animation: wave-animation 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 5s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 5s;
}

/* 波浪的动画 */
@keyframes wave-animation {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0); /* 波浪从右向左滚动 */
    }
}