*{
    /* 初始化 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-y{
    /* 100%窗口宽高 */
    height: 100vh;
    /* 弹性布局 居中显示 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
.container{
    width: 100%;
    height: 650px;
    position: relative;
}
/* 容器四边的渐变黑 */
.shades{
/*    width: 100%;
    height: 100%; */
    position: absolute;
    left: 0;
    top: 0;
    /* 元素不对指针事件做出反应 */
    pointer-events: none;
}
.shades .left{
    width: 160px;
    height: 100%;
    background: linear-gradient(to left,transparent,#16161a);
    position: absolute;
    left: 0;
    top: 0;
}
.shades .right{
    width: 160px;
    height: 100%;
    background: linear-gradient(to right,transparent,#16161a);
    position: absolute;
    right: 0;
    top: 0;
}
.shades .top{
    width: 100%;
    height: 90px;
    background: linear-gradient(to top,transparent,#16161a);
    position: absolute;
    left: 0;
    top: 0;
}
.shades .bottom{
    width: 100%;
    height: 220px;
    background: linear-gradient(to bottom,transparent,#16161a);
    position: absolute;
    left: 0;
    bottom: 0;
}
.imgs{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.imgs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}
.imgs a{
    opacity: 0;
    transition: 0.2s;
}
.imgs a.active{
    opacity: 1;
}
.titles{
    width: 230px;
    height: 249px;
    position: absolute;
    top: 19%;
    right: 1%;
    background: linear-gradient(to bottom,transparent,#16161a 22%,#16161a 81%,transparent);
}
.titles a{
    display: block;
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    width: 100%;
    padding: 12px 20px;
}
.titles .title2{
    font-size: 12px;
    margin-top: 8px;
    font-weight: normal;
    /* 副标题默认隐藏 */
    display: none;
}
/* 标题活动态 */
.titles a.active{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right,rgba(255,255,255,0.25) 20%,transparent 90%);
}
.titles a.active .title2{
    /* 活动态下副标题显示 */
    display: block;
}
.img-text-a {
    position: absolute;
    top: 20px; /* 距离底部10px */
    left: 20%; /* 居中 */
    transform: translateX(-50%);
	color: #f4f4f4;
/*    background: rgba(0, 0, 0, 0.6); /* 半透明背景 */ 
    padding: 5px 10px; /* 文字内边距 */
    border-radius: 3px; /* 圆角 */
    font-size:40px; /* 字体大小 */
    white-space: nowrap; /* 防止文字换行 */
}
.img-text-b {
    position: absolute;
    top: 60px; /* 距离底部10px */
    left: 560px; /* 居中 */
    transform: translateX(-50%);
	color: #f4f4f4;
/*    background: rgba(0, 0, 0, 0.6); /* 半透明背景 */ 
    padding: 5px 10px; /* 文字内边距 */
    border-radius: 3px; /* 圆角 */
    font-size:30px; /* 字体大小 */
    white-space: nowrap; /* 防止文字换行 */
}
.img-text-c {
    position: absolute;
    top: 60px; /* 距离底部10px */
    left: 500px; /* 居中 */
    transform: translateX(-50%);
	color: #f4f4f4;
/*    background: rgba(0, 0, 0, 0.6); /* 半透明背景 */ 
    padding: 5px 10px; /* 文字内边距 */
    border-radius: 3px; /* 圆角 */
    font-size:30px; /* 字体大小 */
    white-space: nowrap; /* 防止文字换行 */
}
.img-text-d {
    position: absolute;
    top: 60px; /* 距离底部10px */
    left: 400px; /* 居中 */
    transform: translateX(-50%);
	color: #f4f4f4;
/*    background: rgba(0, 0, 0, 0.6); /* 半透明背景 */ 
    padding: 5px 10px; /* 文字内边距 */
    border-radius: 3px; /* 圆角 */
    font-size:30px; /* 字体大小 */
    white-space: nowrap; /* 防止文字换行 */
}
.img-text-e {
    position: absolute;
    top: 60px; /* 距离底部10px */
    left: 480px; /* 居中 */
    transform: translateX(-50%);
/* 	color: black; /* 文字颜色 */ 
	color: #f4f4f4;
/*    background: rgba(0, 0, 0, 0.6); /* 半透明背景 */ 
    padding: 5px 10px; /* 文字内边距 */
    border-radius: 3px; /* 圆角 */
    font-size:30px; /* 字体大小 */
    white-space: nowrap; /* 防止文字换行 */
}