
@import './google-fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    color: #fff;
}

/* .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
} */

/* .logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
} */

/* .navbar {
    position: relative;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    margin: 0 20px;
    transition: .3s;
}

.navbar a:hover,
.navbar.active {
    color: #42c1e8;
} */

.home {
    width: 100%;
    height: 100vh;
    background: url(../img/img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 50px 8% 0;
}

.home-content {
    max-width: 630px;
}

.home-content h1 {
    position: relative;
    font-size: 45px;
    line-height: 1.2;  
}

.home-content h1:nth-child(3) {
    background: linear-gradient(#59ffff, #1958ab);
   -webkit-background-clip: text; 
   color: transparent;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 25px 0 30px;
}

.home-content .btn-box {
    position: relative;
    width: 345px;
    display: flex;
    justify-content: space-between;
}

.btn {
    
    padding: 10px 28px;
    background-color: #42c1e8;
    border-radius: 6px;
    font-size: 16px;
    color: #01003f;
    letter-spacing: 1px;
    border: 2px solid #42c1e8;
    transition: .5s;
}

.btn.sign-up {
    position: relative;
    border: none;
}

.btn:nth-child(2) {
    background-color: transparent;
    color: #42c1e8;
}

.btn:last-child:hover {
    background-color: #42c1e8;
    color: #01003f;
}

.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #01003f;
    animation: show-right 1s ease-out forwards;
    animation-delay: calc(0.3s * var(--i))
}

.animate.bg {
    animation: fade-in 1s ease-out forwards;
    animation-delay: 3.2s;
}

@keyframes show-right {
    100% {
        width: 0;
    }
}

@keyframes fade-in {
    100% {
        opacity: 0;
    }
}